*, *::before, *::after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  max-height: 100%;
}
body {
  display: flex;
  font-family: 'Nunito', sans-serif;
  border-radius: 6px;
  line-height: 3;
}
.container {
  background-color: white;
  border-radius: 6px;
}
header {
  background: linear-gradient( rgba(74, 36, 9,1) 0%, rgba(255,255,255,0) 100%), url(../images/header-photo.jpg) right top / cover;
  color: white;
  border-radius: 6px;
}
header .masthead {
  padding: 7% 3%;
}
.masthead p {
  color: white;
  font-size: 40px;
  font-weight: 900;
  text-shadow: 0px 5px 12px #4A2409;
  text-align: center;
}
h1 {
  font-weight: 900;
}
nav {
  color: white;
}
nav a {
  text-decoration: none;
  font-size: 22px;
  color: white;
  text-transform: uppercase;
}
.nav-buttons {

}
main {
  display: flex;
  flex-direction: column;
  padding: 0 100px 0 100px;
  color: #6B350E;
}
main .first-main-div {
  text-align: center;
}
main img {
  aspect-ratio: 390 / 390;
}
section svg {
  justify-content: center;
  align-items: center;
  margin: 60px auto;
}
.coffeeshop-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 30px;
}
.menu-links {
  display: flex;
  gap: 30px;
}
.menu-links a {
  color: white;
  text-decoration: none;
  padding: 20px;
  background-size: cover;
  aspect-ratio: 502 / 390;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  font-size: 30px;
}
.menu-links .drinks {
  background-image: url(../images/drink\ menu\ photo.jpg);
}
.menu-links .food {
  background-image: url(../images/food\ menu\ photo.jpg);
}
footer {
  color: #6B350E;
  border-top: 1px solid #6B350E;
  justify-content: space-around;
  margin-top: 50px;
}
.footer-wrapper {
  text-align: center;
}
@media (min-width: 375px) {
  nav {
    text-align: center;
    padding: 20px 30px;
    display: flex;
  }
  .menu-links {
    display: flex;
  }
}
@media (min-width: 600px) {
  body {
    background-color: #35667C;
    margin: 10px;
  }
  .container {
    margin: auto;
    max-width: 1320px;
    width: 100%;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
  header {
    margin: 10px;
  }
  main  {
    max-width: 1052px;
  }
  .content-container {
    padding: 0 134px;
  }
  section {
    display: flex;
    align-items: center;
  }
  .text-wrapper {
    margin-left: 10px;
  }
  .menu-links {
    display: flex;
  }
  .social-ps {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 100px 0 100px;
  }
  .phone {
    order: -1;
  }
}
